.flash-notification {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.show {
    opacity: 1;
  }
  &__list{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
  }
}