/*@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/PPNeueMontreal-Variable.ttf');
  font-style: normal;
  font-weight: 500;
}*/
/*@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/newest/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}*/

/*@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/newest/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}*/

@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/newest/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/newest/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/newest/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}


/*@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/new/ppneuemontreal-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/new/ppneuemontreal-medium.otf') format('opentype');

}
/*
@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/new/ppneuemontreal-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/new/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../assets/fonts/new/ppneuemontreal-semibolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/new/ppneuemontreal-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
*/