$color-100: #EBF0FA;  // Очень светлый оттенок синего
$color-200: #C8D7F2;  // Светлый пастельный синий
$color-300: #A5BEEA;  // Нежно-синий
$color-400: #92ACE4;  // Более яркий светло-синий
$color-500: #8197E1;  // Основной цвет
$color-600: #697AC0;  // Чуть темнее основного
$color-700: #5361A1;  // Темный синий
$color-800: #3F4A7D;  // Глубокий синий
$color-900: #2C345A;  // Очень тёмный оттенок
$color-1000: #1B213B; // Почти чёрный оттенок



$primary-color: $color-1000;

$main-color: #ffffff;
$background-color: #0A0A0A;
$elements-color: #171717;
$additional-color: #414141;
$error-color: #FF0000;

$text-color: #333333;
