@use '@/styles/_variables.scss' as *;

.form-product{
  position: relative;
  &__wrapper{
    display: flex;
    gap:20px;
  }
  &__block{
    position: relative;
    width: 50%;
  }
  &__images{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__inner{
    margin-top:20px;
  }
  &__input{
    margin-bottom: 20px;
  }
  &__editor-toolbar{
    border: none;
    border-radius: 8px;
    .rdw-fontsize-dropdown{
      border-radius: 8px;
      a{
        color:$primary-color;
      }
    }
    .rdw-option-wrapper{
      border:none;
      padding: 3px;
      &:hover{
        box-shadow: none;
        border: 1px solid #EAEAEA;
      }
    }
  }
  &__editor{
    border: none;
    border-radius: 8px;
    background: $main-color;
    padding: 16px 23px;
    font-size: 15px;
  }
  &__checkboxs{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
  }
  &__checkbox{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 17px;
    border-radius: 8px;
    background: $elements-color;
    span{
      font-weight: 600;
      font-size: 15px;
      color: $main-color;
    }
  }
}