@use '@/styles/_variables.scss' as *;

.btn{
  position: relative;

  overflow: hidden;
  border-radius: 11px;
  z-index: 1;
  button,a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5.303px;
    text-decoration: none;
    transition: all 0.3s ease;
    border:none;
    cursor: pointer;
    padding: 15px 20px;
    color:#fff;
    svg{
      display: flex;
    }
  }
  &--primary{
    button,a{
      background: $primary-color;
      color: #fff;
      &:hover{
        background-color: $color-400;
        color: #fff;
      }
    }

  }
  &--red{
    button,a{
      background: #e63322;
      &:hover{
        background-color: #820f05;
      }
    }
  }
  &--small{
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  &:active{
    transform: scale(0.95);
  }
}