@use '@/styles/variables' as *;

.sidebar{
  position: relative;
  min-height: calc(100vh - 30px);
  background-color: $elements-color;
  bottom: 0;
  left: 0;
  top: 0;
  width: 250px;
  border-radius: 12px;
  margin: 15px 15px;
  @media (max-width:992px){
    position: fixed;
    width: 100%;
    z-index: 100;
    min-height: unset;
    bottom: auto;
    margin: 0;
    border-radius: 0px;
    &.active{
      min-height: 100vh;
    }
  }
  &__wrapper{
    padding: 40px 20px;
    @media (max-width:992px){
      padding: 10px 20px;
    }
  }
  &__nav{
    margin-top: 40px;

  }
  &__menu-container{
    @media (max-width:992px){
      display: none;
    }
    &.active{
      display: block;
    }
  }
  &__menu{
    list-style: none;
    li{
      position: relative;
      margin-bottom: 20px;
      a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 10px ;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: left;
        color:$main-color;
        transition: background-color 0.3s ease;
        text-decoration: none;
        svg{
          width: 17px;
          height: 17px;
          path{
            fill: $main-color;
          }
        }
        &:hover{
          background-color: $additional-color;
        //  font-weight: 600;
        }
      }
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger{
    position: relative;
    width: 31px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    @media (max-width:1200px){
      display: flex;
    }

    span{
      display: block;
      width: 100%;
      height: 2px;

      background: $main-color;
      transition: all 0.3s ease;

    }
    &.active{
      span{
        &:first-child{

          transform: rotate(45deg) translateX(5px) translateY(5px);
          @media (max-width:767px){
            transform: rotate(45deg) translateX(5px) translateY(5px);
          }
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{

          transform: rotate(-45deg) translateX(5px) translateY(-5px);
          @media (max-width:767px){
            transform: rotate(-45deg) translateX(5px) translateY(-5px);
          }
        }
      }
    }
  }
  &__additional-nav{
    margin-top: 200px
  }
  &__logo{
    width: 100%;
    a{
      display: block;
      color:$color-500;
      font-weight: 900;
      text-align: center;
    }
  }
}